<html>
  <head>
    <title>About Revo</title>
    <link rel = "stylesheet" href = "../static/style.css">
    <link rel="shortcut icon" href="static/favicon.ico"/>

  </head>
  <body>
    <div class="navbar" class="hover-underline-animation">
      <a href="/" style="padding: 12px 5px;"><img src="static/favicon.ico" alt="Revo Logo" style="width: 75px; height: auto"></a>
      <a href="/positions"><div class="hover-underline-animation">Positions</div></a>
      <a href="/services"><div class="hover-underline-animation">Services</div></a>
      <a href="/about"><div class="hover-underline-animation">About</div></a>
    </div>
    <div class="main">
        <h1>THE REVO STORY</h1>
        <h2>"If the history of technology teaches us anything, it is that humanity's drive for innovation and progress is relentless and cannot be halted. The advancement of IT will continue, with or without our participation.<br>-Revo Technologies</h2>
    </div>
          <div class="halfscreen">
          <p>
            Throughout human history, we've harnessed technology's potential to shape our world. At Revo, we share the belief that experiencing technology firsthand is truly magical. Whether it's harnessing the power of AI to solve complex problems, developing software that revolutionizes industries, or exploring the vast potential of virtual reality, Revo offers experiences that are exhilarating and enlightening.
          </p>
        </div>
        <div class="halfscreen">
            <img src="static/innovation.jpg">
        </div>
  </body>
</html>
