<html>
  <head>
    <title>Services</title>
    <link rel = "stylesheet" href = "../static/style.css">
    <link rel="shortcut icon" href="static/favicon.ico"/>
    <div class="navbar">
      <a href="/" style="padding: 12px 5px;"><img src="static/favicon.ico" alt="Revo Logo" style="width: 75px; height: auto"></a>
      <a href="/positions"><div class="hover-underline-animation">Positions</div></a>
      <a href="/services"><div class="hover-underline-animation">Services</div></a>
      <a href="/about"><div class="hover-underline-animation">About</div></a>
    </div>
  </head>
  <body>
  <div class="fixed-bg1"></div>
  </body>
</html>